.help-center__services {
  display: grid;
  padding: 20px;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.service {
  height: 200px;
  display: grid;
  place-items: center;
  transition: 0.3s ease-out;
  cursor: pointer;
  text-align: center;
  padding: 10px;
}
.service:hover {
  border: 2px solid var(--clr-green);
  color: orangered

}
.service:hover i {
}
.service i {
  font-size: 100px;
  transition: .35s ease;
}

@media (max-width: 600px) {
  header nav {
    display: none;
  }
  .help-center__services {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
