:root {
  --clr-black: #23272b;
  --clr-white: #fff;
  --clr-grey: #dae1e7;
  --clr-yellow: #eeda2f;
  --clr-green: #26bbaa;
  --clr-purple: #e269ab;
  --clr-blue: #176fba;
  --clr-brown: #f7612c;
  --clr-dark-grey: #2f455c;

  --font-serif: "Poppins";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  font-family: var(--font-serif);
}
html {
  height: 100%;
  width: 100%;
}
.wrapper {
}

/* LOGO */
.company-logo {
  width: auto;
  height: 100%;
  padding: 1rem;
  background: var(--clr-black);
  transition: 0.4s ease;
  margin-right: 2rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.company-logo img {
  object-fit: contain;
  width: 6rem;
  height: auto;
  transition: 0.3s ease;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  height: 6rem;

  display: flex !important;
  justify-content: space-between;

  background: var(--clr-black);
  color: #fff;
  color: var(--clr-dark-grey);

  width: 100%;
  padding: 0 2rem;

  z-index: 100;
  align-items: center;
}

header nav ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: flex-end;
}

header nav li {
  margin-right: 1rem;
}

header nav a {
  color: #fff;
  text-decoration: none;
}
.company {
  text-align: center;
  line-height: 1;
}
.company__logo {
  letter-spacing: 2px;
}
.company__section {
  color: var(--clr-green);
}

/* NAV */
.nav-link {
  position: relative;
  z-index: 100;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  white-space: nowrap;
  transition: 0.3s all ease-in-out;
  color: #ddd;
  font-weight: bold;
}

.nav-link::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: orangered;
  transition: 0.3s all ease-in-out;
}

.nav-link:hover,
.nav-link.active {
  color: var(--clr-white);
}
.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
  z-index: -1;
}
.nav-link:hover .dropdown-content {
  transform: scaleY(1);
}

/* ==== MENU TOGGLE ==== */
.menu-toggle {
  padding: 1rem;
  cursor: pointer;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: scale(0);
  transform: scale(0);
}

@media (max-width: 720px) {
  .menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.menu-toggle span,
.menu-toggle span::before,
.menu-toggle span::after {
  width: 2rem;
  height: 4px;
  background: var(--clr-dark-grey);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.menu-toggle span {
  position: relative;
}

.menu-toggle span::before,
.menu-toggle span::after {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.menu-toggle span::before {
  top: -8px;
}

.menu-toggle span::after {
  bottom: -8px;
}

.menu-toggle:hover span::before {
  top: -9px;
}

.menu-toggle:hover span::after {
  bottom: -9px;
}

.menu-toggle.active {
  z-index: 2001;
  margin-top: 4rem;
}

.menu-toggle.active span {
  background-color: #fff;
  width: 0;
}

.menu-toggle.active span::before,
.menu-toggle.active span::after {
  background-color: #fff;
  top: 50%;
}

.menu-toggle.active span::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-toggle.active span::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 680px) {
  .menu-toggle {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
}

/* MAIN */
main {
  min-height: 100vh;
}

.page-hero {
  height: 60vh;
  background: rgba(41, 45, 48, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.page-hero h2 {
  margin-bottom: 10px;
}
.page-hero .form-container {
  max-width: 600px;
  margin: 0 auto;
}
.form-container {
  width: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}
.form-container i {
  font-size: 1.35rem;
  opacity: 0.5;
}
.form-container input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  font-family: var(--font-serif);
  padding: 10px 20px;
  background: transparent;
  line-height: 1.6;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(41, 45, 48, 1);
  color: #fff;
  padding: 20px;
}
footer nav i {
  font-size: 20px;
}
footer nav i:not(:last-child) {
  margin-right: 1rem;
}

@media (max-width: 600px) {
  header nav {
    display: none;
  }
  .nav-link {
    justify-content: start;
    color: #fff;
  }
}
