.button {
  padding: 1rem 2rem;
  font-family: var(--font-pri);
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 1rem;
  cursor: pointer;
}

.hero .button {
  background: transparent;
  border: 3px solid var(--clr-light-blue);
  color: var(--clr-light-blue);
  transition: 0.3s ease-in-out;
  font-size: 1.2rem;

  &:hover {
    background: orangered;
    color: var(--clr-white);
    border-color: orangered;;
  }
}
