/* ==== MENU TOGGLE ==== */

.menu-toggle {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transform: scale(0);

  @media (max-width: 720px) {
    transition: 0.4s ease;
    transform: scale(1);
  }

  span,
  span::before,
  span::after {
    width: 2rem;
    height: 4px;
    background: var(--clr-dark-grey);
    transition: 0.3s ease-in-out;
    // display: none;
  }

  span {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      top: -8px;
    }

    &::after {
      bottom: -8px;
    }
  }
  &:hover {
    span {
      &::before {
        top: -9px;
      }

      &::after {
        bottom: -9px;
      }
    }
  }

  &.active {
    z-index: 2001;
    margin-top: 4rem;
    span {
      background-color: #fff;
      width: 0;

      &::before,
      &::after {
        background-color: #fff;

        top: 50%;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  @media (max-width: 680px) {
    display: grid;
    place-items: center;
  }
}
