/* ==== Navigation ===== */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: 0.4s ease;
  align-items: center;

  @media (max-width: 720px) {
    background: var(--clr-dark-grey);
    position: fixed;
    top: 4rem;
    overflow: hidden;
    left: 0;
    bottom: 0;
    transform-origin: bottom;
    transform: scaleY(0);
    align-items: unset;
    justify-content: unset;
    padding: 20px;
    padding-top: 4rem;
    justify-content: space-between;

    &.active {
      transform: scaleY(1);
    }
  }
  > div {
    display: flex;
    gap: 1rem;

    @media (max-width: 700px) {
      flex-direction: column;
      justify-content: start;
    }

    &:nth-child(2) {
      & a:last-child {
        background: var(--clr-light-blue);
      }
      @media (max-width: 700px) {
        padding-top: 4rem;
      }
    }
  }
  .nav-link {
    position: relative;
    z-index: 100;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1rem;
    white-space: nowrap;
    transition: 0.3s all ease-in-out;

    @media (max-width: 720px) {
      justify-content: start;
      color: #fff;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      background-color: orangered;
      transition: 0.3s all ease-in-out;
    }

    &:hover,
    &.active {
      color: var(--clr-white);

      &::after {
        width: 100%;
        z-index: -1;
      }
    }
  }
}
