.resources {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 20px;
}
.resources > div {
  display: grid;
  place-items: center;
  height: 200px;
  font-size: 1.5rem;
  font-weight: bold;
  background: var(--clr-brown);
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 5px 0 var(--clr-grey);
  border-radius: 10px;
}
.resources > div:hover {
  transform: scale(0.9);
}
